* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(112, 112, 112);
}

canvas {
  /* border: 24px solid #333; */
  box-shadow: 0 0px 500px -20px rgba(0, 0, 0, 0.5);
}
