* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(52, 52, 65);
}

canvas {
  /* border: 24px solid #333; */
  box-shadow: 0 0px 500px -20px rgba(26, 39, 51, 0.5);
}
